@import "~scss/theme/default";
$header-height: 64px;
.header-container {
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.left {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 auto;
  a {
    text-decoration: none;
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  .logo {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    color: $primary-color;
  }
}

.search {
  font-size: 14px;
  display: block;
  max-width: 270px;
  width: 100%;
}

.avatar {
  margin-left: 10px;
}
