@import "~scss/theme/default";

.title {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 24px;
  letter-spacing: 0.1px;
  color: $text-main-color;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex: 1 auto;
}
.innerContainer {
  display: flex;
  padding: 20px 50px;
  margin-top: 30px;
}

.horizontal {
  display: inline-flex;
  flex-direction: row;
}

.category {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 22px;
}
.left {
  flex: 1 auto;
  flex-direction: column;
}
.tag {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
  color: #c5c5c5;
}
.tag.active {
  color: $primary-color;
}

.thumbnail {
  text-align: right;
  img {
    border-radius: 9px;
    background-color: grey;
    max-width: 100%;
    height: 360px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}

.top-container {
  display: flex;
  margin-top: 30px;
  padding: 20px 50px;
  padding-bottom: 0;
}

.top-right-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
